{% extends 'base.html' %}
{% block content %}
<div class="row">
        <div class="col-sm-12 col-md-9">
                <div class="ctf-block">
                        <div class="ctf-head">
                            <h3>Check your inbox</h3>
                        </div>
                        <div class="ctf-body">
							<p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
                        </div>
                </div>

        </div>
        <div class="col-sm-12 col-md-3 right-sidebar">
                <ul class="list-group">
                        <a href="/accounts/signin" class="list-group-item">Login</a>
                        <a href="/accounts/signup" class="list-group-item">Sign up</a>
                </ul>
        </div>
</div>
{% endblock %}

