{% extends 'base.html' %}
{% block content %}
<div class="row">
        <div class="col-sm-12 col-md-9">
                <div class="ctf-block">
                        <div class="ctf-head">
                                <h3>Change password</h3>
                        </div>
                        <div class="ctf-body">
                            <div class="col-sm-10 col-md-8 mx-auto">
                                    <form method="post">
										{% csrf_token %}
										<div class="form-group">
											<p>
												<input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" placeholder="New Password">
												<span class="helptext"></span>
											</p>
											<ul>
												<li>Your password can’t be too similar to your other personal information.</li>
												<li>Your password must contain at least 8 characters.</li>
												<li>Your password can’t be a commonly used password.</li>
												<li>Your password can’t be entirely numeric.</li>
											</ul>
											<p>
												<input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" placeholder="Confirm">
											</p>
                                            <input class="form-control" type="submit" value="Submit">
                                        </div>
                                    </form>
                            </div>
                        </div>
                </div>

        </div>
        <div class="col-sm-12 col-md-3 right-sidebar">
                <ul class="list-group">
                        <a href="/accounts/signin" class="list-group-item">Login</a>
                        <a href="/accounts/signup" class="list-group-item">Sign up</a>
                </ul>
        </div>
</div>
{% endblock %}

