{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-9 news-card">
      <h3>{{ cat.name }}</h3>
  {% if ctfs %}
  <table class="table table-striped table-dark">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Points</th>
        <th scope="col">Solved</th>
      </tr>
    </thead>
    <tbody>
      {% for ctf in ctfs %}
      <tr>
        {% if request.user.is_authenticated %}
                {% if ctf.solved %}
                        <th scope="row" style="color:green;">&#10003;</th>
                {% else %}
                        <th scope="row" style="color:red;">&#10005;</th>
                {% endif %}
        {% else %}
                <th scope="row"> </th>
        {% endif %}
        <td><a href="/ctfs/{{ cat.slug }}/{{ ctf.slug }}">{{ ctf.name }}</td>
        <td>{{ ctf.points }}</td>
        <td>{{ ctf.solved_num }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No ctf available for this category.</p>
  {% endif %}
  </div>
  <div class="col-sm-12 col-md-3 right-sidebar">
    <ul class="list-group">
    <li class="list-group-item active">Categories</li>
    {% if cats %}
    {% for c in cats %}
    <a class="list-group-item" href="/ctfs/{{ c.slug }}">{{ c.name }}</a>
    {% endfor %}
    {% else %}
    <li class="list-group-item">No category available.</li>
    {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
